
body{
    font-family:georgian;
    
    background-color:aliceblue;
    height: 842px;
    width: 595px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    font-size:300%;
    font-family:cursive;
}

h1{
    color:steelblue;
    text-align:left;
    
}

.h3list{
    font-family:georgian;
    
}

h3{
    color:steelblue ;
    text-align:left;
}

.yellow-color-text{
    color:tomato ;
}


